@use '/src/styles/constants/colors';
@use 'src/styles/mixins/flexbox';

.appWrapper {
  @include flexbox.flexbox(center, center);
  width: 100%;
  min-height: 100vh;
  background-color: colors.$SKY_BLUE;
}
